{% extends "person_list/base_layout.html" %}

{% block body %}

<a class="btn btn-default" role="button" href="{% url 'person_list:index' %}">&lt; Back to index page</a><br/>

<div class="page-header">
	<h4>Person Detail</h4>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">{{ person.last_name }}, {{ person.first_name }}</h3>
			</div>
			<div class="panel-body">
				<span>DoB: {{ person.date_of_birth }}</span><br/>
				<span>Zip: {{ person.zip_code }}</span>
			</div>
		</div>
	</div>
</div>

<p>
	<a class="btn btn-primary btn-large" role="button" href="{% url 'person_list:edit' person.id %}">EDIT</a>
	<a class="btn btn-danger btn-large" role="button" href="{% url 'person_list:delete' person.id %}">DELETE</a>
</p>


{% endblock body %}