{% extends "person_list/base_layout.html" %}

{% block head_scripts %}
	<link rel="stylesheet" href="https://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/css/datepicker3.css"></link>
	<script src="https://eternicode.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block body %}

<a class="btn btn-default" role="button" href="{% url 'person_list:detail' person.id %}">&lt; Back to detail page</a>

<div class="page-header">
	<h4>Editing Person: {{ person.last_name }}, {{ person.first_name }}</h4>
</div>

{% if person_form %}
	<form action="{% url 'person_list:edit' person.id %}" method="post">
		{% csrf_token %}
		{{ person_form.as_p }}
		<button class="btn btn-primary" type="submit">Save</button>
	</form>
{% endif %}

{% endblock body %}

{% block body_scripts %}
<script>
	$('#id_date_of_birth').datepicker({
		format: "yyyy-mm-dd"
	});
</script>
{% endblock %}